*{
    margin: 0px;
    padding: 0px
}
body{
    font-family: 'Lato', sans-serif;
    color: #fff;

}

.header{
    padding: 30px 0px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #597add;
}

ul{
    list-style: none;
}

.row{
    width: 100%;
    float: left
}
.content{
    width: 960px;
    margin: 0 auto;
}
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.header-logo{
    float: left;
    position: relative;
}

.header-logo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #fff;
    top:-30px;
    left: 0px
}

.header-logo::before {
    content: '';
    position: absolute;
    width: 37%;
    height: 20px;
    background: #597add;
    top:-30px;
    right: 0px;
    z-index: 2;
}



.header-menu{
    float: right;
    paddin: 9px 0;
}


.header-menu>ul>li{
    display: inline-block;
    padding-right: 10px;
}


.header-menu p {
    color: #597add;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

.header-logo h1 a{
    font-size: 56px;
    color: #fff;
}

.header-logo h1 span {
    color: #597add;
}

.header-text{
    text-align: center;
}

.header-text>h1{
    font-weight: lighter;
    color: #597add;
    margin-bottom: 10px;
}

.header-text>p{
    margin-top: 20px;
    font-size: 22px;
    width: 960px;
    margin: 0 auto;
}


input{
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #2c3e50;
    color: #fff;
    border-color: #fff;
    margin-top: 15px;
}

.aprendmais{
    margin: 0 auto;
    width: 960px;
    margin-top: 60px;
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: #fff;
    color: #597add;
    text-align: center;
    margin-top: 0px;
}

.aprendmais>h2{
    font-size: 20px;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 5px;
    font-weight: lighter;
    border-bottom: 5px solid #bababa;
    text-align: left;
}

.aprendmais>h2::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 4px;
    background: #597add;
    bottom: 368px;
    left: 280px;
}

article{
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin-top: 15px;
    text-align: left;
}

article:nth-of-type(2){
    margin-left: 3%;
    margin-right: 3%;
}

img{
    max-width: 100%;
}

article>a>h3{
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

article>a{
    font-size: 13px;
    color: #9e9e9e;
    margin-top: 5px;
}

.fundo{
    background-color: #2c3e50;
    padding-bottom: 50px;
}

.aprendmais>p:hover{
    color: #597add;
}

.aprendmais>img{
    transition: all .05s ease;
    
}

.aprendmais>article:hover img{
    transform: scale(1.05);
    transform-origin: center;
    transform-origin: bottom;
}   
.aprendmais>a{
    height: 184px;
}

img{
    overflow: hidden;
    object-fit: cover;
}

article{
    overflow: hidden;
}

/* segunda section */

.aprendmais2{
    margin: 0 auto;
    width: 960px;
    padding-top: 25px;
    background-color: #fff;
    color: #597add;
    text-align: center;
    padding-bottom: 50px;

}

.aprendmais2>h2{
    font-size: 20px;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 5px;
    font-weight: lighter;
    border-bottom: 5px solid #bababa;
    text-align: left;
}

.aprendmais2>h2::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 4px;
    background: #597add;
    bottom: -26px;
    left: 280px;
}


.aprendmais2>p:hover{
    color: #597add;
}

.aprendmais2>img{
    transition: all .05s ease;
    
}

.aprendmais2>article:hover img{
    transform: scale(1.05);
    transform-origin: center;
    transform-origin: bottom;
}   
.aprendmais>a{
    height: 184px;
}

.formu>h3{
    color: #fff;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    font-size: 25px;
    padding-bottom: 20px;
}

.formu{
    background-color: rgb(76,100,132);
    padding: 50px 0px 60px ;
    margin: 0 auto;

}
form{
    width: 960px;
    margin: 0 auto;
}

.formpt1>input{
    width: 450px;
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: #fff;
    color: #9e9e9e;
}
.formpt1{
    width: 35%;
    float: left;
    margin-left: 10px;
}

textarea{
    width: 430px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 0px;
}

.txt{
    width: 10%;
    float: right;
    margin-right: 340px;
}
a>input{
    background-color: #2c3e50;
}

input{
    background-color: #ff4a4a;
}

input[type="submit"] {
    background-color: rgb(0, 168, 34);

}



.bts{
    margin-left: 750px;
}

.bts>input{
    margin-left: 20px;

}

footer{
    background-color: #2c3e50;
    margin: 0 auto;
    padding: 25px;
}

footer>ul>li{
    display: inline-block;

}

footer>ul{
    margin-left: 900px;
}

.baixo{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.baixo>ul>li{
    display: inline-block;
    padding-left: 15px;
}

.baixo>p{
    float: left;
}

.baixo>ul{
    float: right;
}